<!doctype html>
<html lang="pt-BR">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="utf-8" />
		<title>File list - {{ current.split('/')|last }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='picker/style.css') }}" />
	</head>

	<body>
		<main>
			{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
			<ul class="flashes">
				{% for category, message in messages %}
				<li class="{{ category }}">{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %} {% endwith %}

			<div class="header">
				<div>
					<h1>Index of {{ current.split('/')|last }}</h1>
					<div id="listingModeWrapper">
						<input
							id="modeList"
							type="radio"
							name="listingMode"
							onclick="
								dragArea.classList.replace('thumb', 'list');
								localStorage.removeItem('thumbMode');
							"
						/>
						<label for="modeList">List mode</label>
						<input
							id="modeThumb"
							type="radio"
							name="listingMode"
							onclick="
								dragArea.classList.replace('list', 'thumb');
								localStorage.setItem('thumbMode', 1);
							"
						/>
						<label for="modeThumb">Thumbnail mode</label>
					</div>
					<input
						id="search"
						type="text"
						placeholder="search title (hotkey: /)"
						oninput="debounce(filter)(event)"
					/>
				</div>
				<div>
					<p><a href="/picker?path={{ prev|quote_plus }}">{{ prev }}</a> (parent)</p>
					<p id="note">Drag and drop or select a folder or file below</p>
				</div>
			</div>
			<div id="dragArea" class="item-list list">
				<p class="drag-text">Drop files or folders</p>
				{% for entry in entries %}
				<div class="item" data-filename="{{ entry.name }}">
					<!-- For the block/thumbnail visualisation  -->
					<div class="thumb-container">
						<a
							class="thumbnail"
							{%
							if
							entry.file
							%}
							href="/unzip?file={{ entry.absolute }}"
							{%
							else
							%}
							href="/reader?file={{ entry.absolute }}"
							{%
							endif
							%}
						>
							<img src="file/{{ entry.thumbnail }}" alt="Thumbnail" />
						</a>
					</div>

					<p
						title="{{ entry.absolute }}"
						onmouseenter="updateThumbnail(event)"
						onmouseleave="updateThumbnail(event)"
					>
						{% if entry.file %} {{ '📄 ' }}
						<a href="/file/{{ entry.absolute|quote_plus }}">{{ entry.name }}</a>
						{% else %} {{ '📂 ' }}
						<a href="/picker?path={{ entry.absolute|quote_plus }}">{{ entry.name }}</a>
						{% endif %}
					</p>

					<!-- For the list visualisation -->
					<div>
						{% if entry.file %}
						<button
							id="selectEntry"
							onclick="window.location = '/unzip?file={{ entry.absolute|quote_plus }}'"
						>
							Select
						</button>
						{% else%}
						<form id="selectEntry" action="/reader">
							<input type="hidden" name="file" value="{{ entry.absolute|quote_plus }}" />
							<button>Select</button>
						</form>
						{% endif %}
					</div>
				</div>

				{% endfor %}
			</div>
		</main>
		<script>
			if (localStorage.getItem("thumbMode")) {
				dragArea.classList.replace("list", "thumb");
				modeThumb.checked = true;
			} else {
				modeList.checked = true;
			}

			window.onload = () => {
				if ("showOpenFilePicker" in window) {
					dragArea.addEventListener("drop", onDrop);

					dragArea.addEventListener("dragenter", (event) => {
						dragArea.classList.add("drag-files-is-active");
					});

					dragArea.addEventListener("dragleave", (event) => {
						if (event.target === dragArea) {
							dragArea.classList.remove("drag-files-is-active");
						}
					});

					dragArea.addEventListener("dragover", (event) => {
						event.preventDefault();
					});
				} else {
					note.innerText =
						"Select a folder or file below (drag and drop disable since your browser does not fully support the file system API)";
				}

				document.addEventListener("keydown", (e) => {
					if (e.key === "/" && !search.activeElement) {
						e.preventDefault();
						search.focus();
					}
				});
			};

			async function addHandleContentsToForm(handle, form) {
				if (handle.kind === "file") {
					form.append(name, await handle.getFile());
					return;
				}

				for await (const [name, childHandle] of handle.entries()) {
					if (childHandle.kind === "directory") {
						await addHandleContentsToForm(childHandle, form);
					} else {
						form.append(name, await childHandle.getFile());
					}
				}
			}

			async function onDrop(event) {
				event.preventDefault();
				const form = new FormData();
				const entries = [...event.dataTransfer.items];

				for (const entry of entries) {
					const handle = await entry.getAsFileSystemHandle();
					await addHandleContentsToForm(handle, form);
				}

				if (Array.from(form.entries()).length === 0) {
					alert("No files given");
					return;
				}

				dragArea.classList.remove("drag-files-is-active"); // Reset state for case when user pop the history back to this page
				fetch("/paste", { method: "POST", body: form })
					.then((r) => (window.location.href = r.url))
					.catch(alert);
			}

			function updateThumbnail(event) {
				const entryThumb = event.target.parentElement.getElementsByClassName("thumb-container")[0];
				entryThumb.classList.toggle("show-thumb-on-list-mode");
			}

			let timer = null;
			function debounce(fn, wait = 500) {
				return function (...args) {
					clearTimeout(timer);
					timer = setTimeout(() => fn.apply(this, args), wait);
				};
			}

			function filter(event) {
				const filter = event.target.value.trim().toLowerCase();
				for (const div of document.querySelectorAll("[data-filename]")) {
					const shouldShow = div.attributes["data-filename"].value.toLowerCase().includes(filter);
					div.style.display = shouldShow ? "" : "none";
				}
			}
		</script>
	</body>
</html>
