<!doctype html>
<html>
	<head>
		<title>Reader - {{ current.split('/') | last }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='reader/css/base.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='reader/css/imagecontainer.css') }}" />
	</head>

	<body>
		<div id="imageWrapper" class="image-wrapper" onwheel="handleScroll(event)" onclick="handleClick(event)"></div>

		<div id="controls" class="controls">
			<div class="controls-close-wrapper">
				<button onclick="controls.classList.toggle('closed')">X</button>
			</div>
			<span> <a href="/picker?path={{ parent }}">↖️</a> {{ current.split('/') | last }} </span>
			<div class="controls-navigator">
				<button onclick="previousImage(event)" class="control-input">&lt;</button>
				<select id="pageSelector" onchange="changePageFromSelector()" class="control-input">
					{% for i in pages %}
					<option id="option-img-{{ loop.index }}">{{ loop.index }}</option>
					{% endfor %}
				</select>
				<button onclick="nextImage(event)" class="control-input">&gt;</button>
			</div>
			<div class="controls-navigator">
				<button onclick="previousEntry()" class="control-input">&lt;</button>
				<!-- TODO: prev and next need to be relative to the 'current'. Pass from python or edit via js -->
				<select id="entrySelector" onchange="changeEntry(event.target.value)" class="control-input">
					{% for entry in entries %}
					<option {{ "selected" if current == entry.absolute else "" }} value="{{ entry.absolute }}">
						{{ entry.name }}
					</option>
					{% endfor %}
				</select>
				<button onclick="nextEntry()" class="control-input">&gt;</button>
			</div>
			<button onclick="padding()" class="control-input">add padding</button>
			<button id="modeButton" onclick="toogleMode()" class="control-input">Mode: Singe Page</button>
			<button id="sizeButton" onclick="toogleSize()" class="control-input">Size:</button>
			<button id="fullscreenButton" onclick="fullscreen()">Fullscreen: Disabled</button>
			<button onclick="colorInput.click()" class="bg-color-button control-input">
				background
				<input
					id="colorInput"
					class="sex"
					onchange="root.style.setProperty('--background', event.target.value)"
					type="color"
				/>
			</button>
		</div>

		<script id="imagesJson" type="application/json">
			{{ pages|tojson }}
		</script>
		<script src="{{ url_for('static', filename='reader/js/index.js') }}"></script>
	</body>
</html>
