:root {
	--img-margin: auto;
	--direction: column; /* so i can change to columns if i ever implemnte double page*/
	--background: white;
}

body {
	display: flex;
	flex-direction: row;
	background-color: var(--background);
}

body:fullscreen {
	background-color: red;
	overflow: auto;
}

.controls.closed {
	transform: translateX(50vh);
}

.controls {
	display: flex;
	flex-direction: column;
	box-shadow: 20px 0 2px -20px gray inset;
	background: var(--background);
	max-height: calc(100vh - 32px);
	max-width: 10%;
	overflow: auto;
	transform: translateX(0px);
	transition: 0.5s;
	gap: 0.2rem;
	padding: 1rem 1rem;

	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;

	span {
		text-align: center;
		a {
			text-decoration: none;
		}
	}

	.control-input {
		padding: 10px 8px;
		border-radius: 6px;
		box-shadow: none;

		&:not(:hover):not(:active):not(:focus) {
			border: 1px solid #e0e0e0;
		}
	}

	.controls-close-wrapper {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: 1rem;

		button {
			border: none;
			border-radius: 50%;
			padding: 1rem 1rem;

			&:not(:hover):not(:active):not(:focus) {
				box-shadow: none;
				background: unset;
			}
		}
	}

	.bg-color-button {
		display: flex;
		align-items: center;
		justify-content: center;

		input {
			border: none;
			box-shadow: none;
			appearance: none;
			padding: 0;
		}
	}

	.controls-navigator {
		display: flex;
		justify-content: space-around;
		gap: 0.5rem;
		select {
			width: 100%;
		}

		button {
			width: auto;
		}
	}
}

@media only screen and (max-width: 1000px) {
	.controls {
		width: 50%;
		max-width: 50%;

		span {
			font-size: xx-large;
		}
		select,
		button {
			font-size: xx-large;
		}
	}
}
